  @import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:wght@500&family=Outfit:wght@200;500&display=swap');
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    /* SIDE NAVIGGATION BAR */
    .sidenav {
      height: 90rem;
      width: 300px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding: 50px 0;
      background-color: #050341;
    }
    .wrapper {
      padding-bottom: 50px;
    }
    .inner-wrapper {
      padding-top: 5px;
      align-items: center;
      padding-left: 25px;
    }
    .logo-head {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo-head > img {
      width: 60px;
    }
    .head-title {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8px 0px;
    }
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 1.2rem;
      display: block;
      background: color #c7c7c9;
      margin: 10px auto;
      color: #050341;
    }
    
    .sidenav a:hover {
      background-color: #d7d7e7;
    }
    .cossa-heading {
      font-family: sans-serif;
      color: #fff;
      font-size: 2rem;
      margin-left: -4.7rem;
    }
    .cossa-para {
      font-family: sans-serif;
      color: #fff;
      margin-left: 10px;
      font-size: 0.9rem;
      font-weight: 100;
      margin-top: 1px;
    }
    .side-container {
      width: 400px;
      height: 50px;
      background-color: #e0dddd;
      margin: 10px 0px;
      text-align: left;
      margin-bottom: 20px;
    }
    .side-container .side-con {
      font-size: 1rem;
      font-family: 'Outfit', sans-serif;
      padding: 15px;
    }
    
    /*SIDE BAR ENDS*/
  
    /*END OF TRANSACTION HISTORY */
  
  .intro-notifi {
      font-size: 0.8rem;
      margin-top: -1rem;
      margin-left: 25rem;
      margin-bottom: 4rem;
      font-family: 'Inder', sans-serif;
    }
    
    .notisearch-container {
      display: flex;
      position: relative;
      left: 18rem;
      margin: 5rem;
      width: 69em;
      height: 3rem;
      background-color: #ffffff;
      box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
      border-radius: 10px;
    }
    
    .notisearch-container img {
      display: flex;
      position: relative;
      left: 55rem;
      width: 38px;
      height: 38px;
      margin-top: 5px;
    }

    .overall-wrapper {
      display: flex;
      position: absolute;
      z-index: -1;
      width: 59.4rem;
      height: 40rem;
      margin-left: 28rem;
      outline-width: 5px;
      outline-style: solid;
      outline-color: rgb(240, 240, 240);
    }
    
    .notibox-container {
      display: flex;
      position: relative;
      left: 24.8rem;
      margin: 3rem;
      width: 59.6rem;
      height: 3rem;
      background-color: #d7d7e7;
      box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
      border-radius: 2px;
      justify-content: center;
    }
    .notibox-container, h3{
      font-size: 0.9rem;
      font-family: 'Inter', sans-serif;
    }
  
    .name-container,
    p {
      margin-top: 0.8rem;
      margin-left: 56rem;
    }
    
    .notibox-container,
    h3 {
      margin-top: 12.5px;
    }
    
    .message-container {
      margin-top: 41rem;
      margin-left: 23rem;
    }
    
    .date {
      display: flex;
      position: relative;
      left: -15rem;
      margin-top: -1.1rem;
    }
    
    .content-container {
      margin-left: 0.1rem;
      margin-top: -1rem;
      font-family: 'Outfit', sans-serif;
      font-weight: lighter;
    }
    .titldate-container img {
      width: 40px;
      height: 40px;
      display: flex;
      position: relative;
      left: -3rem;
      margin-top: -1rem;
    }
    
    .next-container {
      margin-top: 1rem;
      margin-left: 58rem;
    }
    
    .message-wrapper {
      margin-top: -8.4rem;
      margin-left: 8rem;
      padding: 15px;
    }
    
    .titledate-container{
      font-size: 0.8rem;
      margin-left: -1rem;
      font-family: 'Inter', sans-serif;
      font-size: 5px;
    }
  
    .name-container{
      margin-left: 56rem;
      margin-top: 1.1rem;
    }
    .content-container, p{
      margin-top: -20px;
    }
    
    
    /* END OF TRANSACTION HISTORY */